/* =========== Глобальные переменные =========== */
:root {
  --icons-color: #4c5773;
  --icons-bg-color: #e2e6e9;
  --shadow-dark-color: #d3dae7;
  --shadow-light-color: #fff;
  --main-bg-color: #ecf0f3;
}

/* Сброс стилей браузера */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

/* Общие для тела сайта */

body {
  font-family: "arial", sans-serif;
  background: var(--main-bg-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
}

a {
  color: var(--icons-color);
  text-decoration: none;
}
